body {
    font-family: 'Poppins', sans-serif;
}
/* .view_img_right {
    margin-left: 0px;
} */

div.view_img_right .srch_explore{
    border-radius: 20px;
}
.hidden{
    display: none;
}

h1, h2, h3, h4, h5{
    font-family: 'Poppins', sans-serif;
}
.lbel25 label{
    font-family: 'Poppins', sans-serif;
}
.ui[class*="left icon"].swdh19.input>input{
    font-family: 'Poppins', sans-serif;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
    font-family: 'Poppins', sans-serif;
}
.steps_btn{
    font-family: 'Poppins', sans-serif !important;
}
.st_title{
    font-family: 'Poppins', sans-serif !important;
}
.night-mode .upload_btn{
    font-family: 'Poppins', sans-serif !important;
}
.ui[class*="left icon"].swdh10.input>input{
    font-family: 'Poppins', sans-serif !important;
}
.dp_link_12{
    font-family: 'Poppins', sans-serif !important;
}
.night-mode .ui.dropdown .menu>.channel_item{
    font-family: 'Poppins', sans-serif !important;
}
.ui.dropdown .menu>.channel_item{
    font-family: 'Poppins', sans-serif !important;
}
.upload_btn{
    font-family: 'Poppins', sans-serif !important;
}
.view_img_right h4{
    font-family: 'Poppins', sans-serif !important;
}
.view_img_right p{
    font-family: 'Poppins', sans-serif !important;
}
.create_btn_dash{
    font-family: 'Poppins', sans-serif !important;
}
.ucp-table tbody tr td{
    font-family: 'Poppins', sans-serif !important;
}
.card_dash_left1 h1{
    font-family: 'Poppins', sans-serif !important;
}
.my_courses_tabs .nav-link{
    font-family: 'Poppins', sans-serif !important;
}
.nav-link{
    font-family: 'Poppins', sans-serif !important;
}
.account_setting h4{
    font-family: 'Poppins', sans-serif !important;
}
.account_setting p{
    font-family: 'Poppins', sans-serif !important;
}
.help-block{
    font-family: 'Poppins', sans-serif !important;
}
button, input, optgroup, select, textarea{
    font-family: 'Poppins', sans-serif !important;
}
.fotb_left p{
    font-family: 'Poppins', sans-serif !important;
}
.cursor-pointer{
    cursor: pointer;
}
